body{
    margin: 0px;
    padding: 0px;

}

.navbar{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 0px 22px;
}
.logo{
    align-items: center;
}

.nav-items{
    list-style: none;
    display: flex;
    gap: 20px;
    
}

.nav-items a{
    color: rgb(rgb(201, 138, 138), rgb(179, 114, 233), rgb(91, 91, 255));
    text-decoration: none;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    min-height: 90vh;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.text h1{
    
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image img{
    width: 500px;
}

.hero-section{
    min-height: 100vh;
    background: linear-gradient(
        180deg,
        #f4c6b8 0%,
        #a855f7 50%,
        #3b0764 100%
    );
}